[CONSTANTS]

[AUTHENTICATION]

USERNAME = {{ openbazaar_username }}
PASSWORD = {{ openbazaar_password }}


{% if openbazaar_mainnet_seeds %}
[MAINNET_SEEDS]

{% for seed in openbazaar_mainnet_seeds %}
{{ seed }}
{% endfor %}
{% endif %}


{% if openbazaar_testnet_seeds %}
[TESTNET_SEEDS]

{% for seed in openbazaar_testnet_seeds %}
{{ seed }}
{% endfor %}
{% endif %}


{% if openbazaar_libbitcoin_servers %}
[LIBBITCOIN_SERVERS]

{% for server in openbazaar_libbitcoin_servers %}
{{ server }}
{% endfor %}
{% endif %}
